/* Define estilos para o elemento <body> do documento HTML */
body {
    /* Define a cor do texto como branco */
    color: rgb(161, 134, 134);
    
    /* Define a cor de fundo da página como preto */
    background: black;
    
    /* Remove todas as margens externas do body */
    margin: 0px;
    
    /* Define a fonte do texto como "Chakra Petch" e sans-serif como fallback */
    font-family: "Chakra Petch", sans-serif;
    
    /* Adiciona uma margem inferior de 100 pixels */
    margin-bottom: 100px;
}
